header {
    background-color: #2E8B57;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    color: white;
}

.input-container {
    display: flex;
    gap: 8px;
}

.btn-busca {
    border: 2px solid #1E5936;
    background-color: #064E3B;
    padding-inline: 4px;
    padding-block: 4px;
    color: white;
    border-radius: 8px;
    transition: all 0.3s ease;

}

input {
    border: 2px solid #1E5936;
    background-color: #F0FFF4;
    padding-inline: 4px;
    padding-block: 4px;
    color: black;
    border-radius: 8px;
    outline: none;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.btn-busca:hover {
    box-shadow: 0 0 10px white;
    background-color: #0f8a5f;
}